* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

hr {
    border: 2px solid #c06847;
}

button {
    display: inline-block;
    background-color: #c06847;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: 5px solid whitesmoke;
    text-decoration: none;
    transition: 1s;
}
button:hover {
    color: goldenrod;
    background: black;
}

header {
    display: block;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: white;
}

header img {
    float: left;
    width: 20%;
    padding: 10px;
    margin-top: 2%;
}

header #nav-about {
    float: right;
    padding: 10px;
}

header #nav-about ul li {
    padding: 5px;
    display: inline-block;
    border: none;
}

#intro {
    background-image: url(./images/myPic-brick-moreMe-crop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

#intro #typedtext {
    font-family: 'Fredericka the Great', cursive;
    font-size: 65px;
    color: white;
    width: 100%;
    margin-left: 5%;
    text-align: left;
    padding-top: 360px;
}

#about {
    width: 100%;
    padding: 70px;
}

#about #about-logo {
    width: 50%;
}

#about #myPic {
    width: 30%;
    display: inline-block;
}


#about #myPic img {
    width: 100%;
}

#about #bio {
    width: 65%;
    display: inline-block;
    padding: 50px;
}

#about #bio p {
    text-align: left;
    color: #c06847;
    font-size: 18px;
}

#about #bio p a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

#projects .pro-text > p {
    color: #c06847;
    font-weight: 600;
    font-size: 35px;
    padding: 15px;
}

#projects .pro-text {
    padding: 30px 45px;
    text-align: center;
}

#projects .pro-text > span {
    color: dimgrey;
    font-size: 18px;
    font-weight: 500;
}

#projects #projects-main {
    width: 80%;
    margin: 0% 10%;
    background-color: white;
}

#projects #please {
    margin-top: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 50px 0px 25px;
    background-color: #c06847;
    background-attachment: scroll;
}

#projects .container {
    position: relative;
    width: 48%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}


#projects section .pro-img {
    box-shadow: 10px 10px whitesmoke;
    border: 1px solid whitesmoke;
    opacity: 0.9;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .9);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
}

#projects section .pro-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100px;
    bottom: 0;
}

#projects .pro-skills {
    padding: 25px;
}


#projects .pro-skills > span {
    text-align: center;
}

#projects section img {
    opacity: 0.9;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}

#projects .pro-img > span {
    text-align: center;
    color: #c06847;
    padding: 10px;
}

#projects .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#projects .container:hover .image {
    opacity: 1;
}

#projects .container:hover .middle {
    opacity: 0.9;
}

#projects .text {
    background-color: whitesmoke;
    color: #c06847;
    font-size: 14px;
    margin: 5px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid white;

}

#projects .class > img {
    width: 10%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 120px;
    display: block;
}

#footer #footer-social {
    width: auto;
    display: inline-block;
    padding: 15px;
    float: left;
}

#footer #footer-social li {
    width: auto;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

#footer #copy {
    float: right;
    color: #c06847;
    font-size: 23px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    height: 60px;
    line-height: 60px;
    padding: 15px;
}


#footer #footer-social li a i {
    color: #c06847;
    font-size: 30px;
}


@media only screen and (max-width: 1000px) {
    header #nav-about {
        width: 100%;
        padding: 5px;
        text-align: center;
        display: block;
    }

    header img {
        width: 100%;
        padding: 5px;
        display: block;
    }

    #intro {
        width: auto;
    }

    #intro #typedtext {
        padding: 180px 5px;
        width: 85%;
        font-size: 40px;
    }

    #about {
        padding: 15px;
        margin: 20px 0px;
    }

    #about #myPic {
        width: 100%;
        display: block;
    }

    #about #myPic img {
        width: 100%;
        margin: 38px 2px;
    }

    #about #bio {
        width: 100%;
        display: block;
        padding: 2px;
    }


    #about #about-logo {
        width: 100%;
    }

    #projects #please {
        font-size: 20px;
        padding: 15px;
    }

    #projects .container {
        width: 100%;
        display: block;
        padding: 10px;
    }

    #projects .text {
        font-size: 12px;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
    }

    #projects .pro-text > p {
        font-size: 25px;
        padding: 8px;
    }

    #footer #footer-social {
        width: 45%;
        display: inline-block;
        padding: 5px;
        text-align: center;
    }

    #footer #copy {
        width: 45%;
        font-size: 15px;
        text-align: center;
        display: inline-block;
        padding: 5px;
        line-height: 40px;
    }

    #footer #footer-social li a i {
        font-size: 15px;
    }




}
